body {
    font-family: 'Pretendard', sans-serif;
}

/* 기본 (데스크탑) */
.main-width, .alert-width {
    width: 50%;
}

/* 태블릿 (768px 이상) */
@media (max-width: 991px) {
    .main-width, .alert-width {
        width: 75%;
    }
}

/* 모바일 (576px 이하) */
@media (max-width: 767px) {
    .main-width, .alert-width {
        width: 100%;
    }
}

@keyframes rainbow {
    0% { background-color: red; }
    16% { background-color: orange; }
    33% { background-color: yellow; }
    50% { background-color: green; }
    66% { background-color: blue; }
    83% { background-color: navy; }
    100% { background-color: purple; }
}

.rainbow-animation {
    animation: rainbow 3s infinite linear;
    color: white !important;
}
